<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Add Item</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/ifas/ifas.css" rel="stylesheet">
<style>
.help-block {
  display: none;
}
</style>
<script src="/js/jquery.latest.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
$(function(){
	
});
</script>
</head>
<body id="item">
#parse("mainnavigation.vm")
<div id="contentcontainer" class="container-fluid">
  <div class="row">
    <div id="sidenavigation" class="col-sm-3">
      <div class="list-group">
      	<a href="/addItem" class="list-group-item active">Add Item</a>
		<a href="/editItem" class="list-group-item">Edit Item</a>
		<a href="/removeItem" class="list-group-item">Remove Item</a>
      </div>
    </div>
    <div id="content" class="col-sm-9">
    <form class="form-horizontal" name="additem" id="additem" action="/addItem" method="post">
    <fieldset>
	<legend>Item Information</legend>
	<div class="form-group">
	<label id="namelabel" class="control-label col-sm-2" for="f_itemname">Name</label>
	<div class="col-sm-10">
		<input type="text" class="form-control" placeholder="Item Name" id="f_itemname" name="itemName" autocomplete="off" required="true"/>
	</div>
	</div>
	<div class="form-group">
	<label for="f_itemquantity" class="control-label col-sm-2">Quantity</label>
	<div class="col-sm-10">
		<select id="f_itemquantity" class="form-control" name="quantityId" required="true">
			<option value="">--Quantity--</option>
			#foreach($quantity in $quantities)
				<option value="$quantity.quantityId">$quantity.quantity kg</option>
			#end
			<!-- <option value="1000">5 kg</option>
			<option value="1001">10 kg</option>
			<option value="1002">25 kg</option>
			<option value="1003">50 kg</option>
			<option value="1004">75 kg</option>
			<option value="1005">100 kg</option> -->
		</select>
	</div>
	</div>
	<div class="form-group">
	<label for="f_itemtype" class="control-label col-sm-2" >Type</label>
	<div class="col-sm-10">
		<select id="f_itemtype" class="form-control" name="typeId" required="true">
			<option value="">--Type--</option>
			#foreach($type in $types)
				<option value="$type.typeId">$type.type</option>
			#end
			<!-- <option value="1000">Jute bags</option>
			<option value="1001">Non-woven plastic bags</option>
			<option value="1002">Woven plastic bags</option>
			<option value="1003">Plastic bags</option> -->
		</select>
	</div>	
	</div>
	<div class="form-group">
	<label class="control-label col-sm-2" for="f_itemcost">Cost</label>
	<div class="col-sm-10">
		<input type="number" step="any" class="form-control" placeholder="Cost" id="f_itemcost" name="cost" autocomplete="off" required="true"/>
	</div>
	</div>
	<div class="form-group">
	<label class="control-label col-sm-2" for="f_itemstock">Stock</label>
	<div class="col-sm-10">
		<input type="number" class="form-control" placeholder="Stock" id="f_itemstock" name="stock" autocomplete="off" required="true"/>
	</div>
	</div>
	#if($role=="ROLE_ADMIN")
	<div class="form-group">
	<label class="control-label col-sm-2" for="f_itemvendor">Vendors</label>
	<div class="col-sm-10">
		<input type="text" class="form-control" placeholder="Vendors" id="f_itemvendor" name="vendor" autocomplete="off"/>
	</div>
	</div>
	#end
	</fieldset>
	<div class="form-group">
	<div class="col-sm-offset-2 col-sm-10">
	<input type="submit" name="submit" class="btn btn-primary" value="Add Item" />
	</div>
	</div>
	</form>
    </div>
 </div>
</body>
</html>