<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Add Purchase Details</title>
<style type="text/css">@import "/css/jquery-ui.css";</style>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/ifas/ifas.css" rel="stylesheet">
<style type="text/css">
#f_cashpaid,.otherdateclass,.help-block {
  display: none;
}
.autocomplete-suggestions {
  border: 1px solid #999;
  background: #FFF;
  overflow: auto;
}

.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}

.autocomplete-selected {
  background: #F0F0F0;
}

.autocomplete-suggestions strong {
  font-weight: normal;
  color: #3399FF;
}

.autocomplete-group {
  padding: 2px 5px;
}

.autocomplete-group strong {
  display: block;
  border-bottom: 1px solid #000;
}
</style>
<script src="/js/jquery.latest.min.js"></script>
<script src="/js/jquery.autocomplete.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
var cflag=0;
var iflag=0;
var customerName;
var customerId;
var showTax = false;
var enableInstantPay = false;
$(function(){
customerName = $('#customernameid');
customerId = $('#customeridid');
var max_rows = 10; // maximum record rows allowed
  var initial = 1; // initial rows
  var wrapper = $('#multirowwrapper');
  var add_button = $('#addMoreRow');
  // dynamically add and remove rows
  $(add_button).click(function(e) { //on add input button click
    e.preventDefault();
    if (initial < max_rows) { //max input box allowed
    	$(wrapper).append('<div class="form-group">' 
      		  + '<div class="col-sm-2">' 
      		  + '<input type="text" class="form-control itemnameclass" name="itemname" placeholder="Item Name" required="true" size="30" />'
      		  +'<input type="hidden" class="itemidclass" name="records[' + initial + '].purchaseItemId" />' 
      		  + '<span class="help-block text-uppercase"><small>Item information placeholder</small></span>'
      		  +'</div>' 
      		  + '<div class="col-sm-5">'
      		  +'<div class="col-sm-3">' 
    		  + '<input type="number" class="form-control piecesclass" name="records[' + initial + '].purchasePieces" placeholder="Pieces" required="true" size="30"/>' 
    		  + '</div>' 
    		  +'<div class="col-sm-3">' 
    		  + '<input type="number" step="any" class="form-control costclass" name="records[' + initial + '].purchaseCost" placeholder="Cost" required="true" size="30"/>' 
    		  + '</div>'
    		  + '<div class="col-sm-3">' 
    		  + '<input type="text" class="form-control totalclass" name="records[' + initial + '].purchaseTotal" placeholder="Amount" readonly="readonly" size="30"/>' 
    		  + '</div>'
    		  + '<div class="col-sm-3">' 
    		  +'<input type="hidden" class="form-control purchasetaxrateclass" name="records[' + initial + '].purchaseTaxRate"  value="0.0"/>'
    		  +'<input type="hidden" class="form-control taxrateclass" name="taxrate" />'
              +'<input type="text" class="form-control taxclass" name="records[' + initial + '].purchaseTax" placeholder="tax" readonly="readonly" size="10" value="0" />'
    		  + '</div>'
      		  +'</div>'
      		  + '<div class="col-sm-2">' 
      		  + '<input type="text" class="form-control remarksclass" name="records[' + initial + '].purchaseRemarks" placeholder="Remarks" size="30"/>' 
      		  + '</div>' 
      		  + '<div class="col-sm-1">' 
      		  + '<a href="#" class="glyphicon glyphicon-minus remove_row"></a>' + '</div>'); //add input box
      initial++; //row increment
      initiateactions();
    } else {
      alert("Max rows exceeded");
    }
  });

  $('body').on('click', '.remove_row', function(e) {
    //user click on remove text
    e.preventDefault();
    $(this).closest('.form-group').remove();
    initial--;
  });
  // end dynamic add and remove row
  initiateactions();
  });

function initiateactions(){
/**--Start of datepick--**/
	$('.seldateclass').bind('change', function() {
    var seldateclass = this;
    var seldatewrapper = $(seldateclass).parent();
    var otherdateclass = $(seldatewrapper).parent().find('.otherdateclass');
    if ($(seldateclass).val().trim() === 'others') {
      $(seldateclass).prop('disabled', true);
      $(seldatewrapper).hide();
      $(otherdateclass).show();
      var pickdateclass = $(otherdateclass).find('.pickdateclass');
      $(pickdateclass).prop('disabled', false);
      $(pickdateclass).prop('readonly', true);
      $(pickdateclass).datepicker({
        dateFormat: 'dd/mm/yy',
        showButtonPanel: true,
        beforeShow: function(input) {
          setTimeout(function() {
            var buttonPane = $(input)
              .datepicker("widget")
              .find(".ui-datepicker-buttonpane");

            $("<button>", {
              text: "Clear",
              click: function() {
                //Code to clear your date field (text box, read only field etc.) I had to remove the line below and add custom code here
                $.datepicker._clearDate(input);
              }
            }).appendTo(buttonPane).addClass("ui-datepicker-clear ui-state-default ui-priority-primary ui-corner-all");
          }, 1)
        },
        onChangeMonthYear: function(year, month, instance) {
          setTimeout(function() {
            var buttonPane = $(instance)
              .datepicker("widget")
              .find(".ui-datepicker-buttonpane");

            $("<button>", {
              text: "Clear",
              click: function() {
                //Code to clear your date field (text box, read only field etc.) I had to remove the line below and add custom code here
                $.datepicker._clearDate(instance.input);
              }
            }).appendTo(buttonPane).addClass("ui-datepicker-clear ui-state-default ui-priority-primary ui-corner-all");
          }, 1);
        },
        onClose: function(selectedDate) {
          if (selectedDate.length == 0) {
            $(seldatewrapper).show();
            $(seldateclass).prop('disabled', false).val("today");
            $(pickdateclass).prop('readonly', false);
            $(pickdateclass).prop('disabled', true);
            $(otherdateclass).hide();
          }
        }
      });
      $(pickdateclass).focus();
    }
  });
  /**--End of datepick--**/
  	$(customerName).devbridgeAutocomplete({
	    	serviceUrl:'/listCustomersLike',
	    	minChars:1,
	    	noCache:true,
	    	onSearchStart: function(query){
	    	cflag=0;
			$(customerName).closest('.form-group').removeClass('has-success');
			$(customerName).closest('.form-group').addClass('has-error');
			$(customerName).parent().find('.help-block').show();
	    	$(customerId).val('');
	    	},
	    	onSelect: function (suggestion){
	    	cflag=1;
			$(customerName).parent().find('.help-block').hide();
			$(customerName).closest('.form-group').removeClass('has-error');
			$(customerName).closest('.form-group').addClass('has-success');
	    	$(customerId).val(suggestion.data);
	    	}
	    });
	    $('.itemnameclass').devbridgeAutocomplete({
	    	serviceUrl:'/listItemsLike',
	    	minChars:1,
	    	noCache:true,
	    	onSearchStart: function(query){
	    	iflag =0;
	    	$(this).closest('.form-group').removeClass('has-success');
			$(this).closest('.form-group').addClass('has-error');
	    	$(this).parent().find('.itemidclass').val('');
	    	$(this).closest('.form-group').find('.costclass').val('');
	    	$(this).closest('.form-group').find('.taxrateclass').val('');
	    	$(this).parent().find('.help-block').show();
	    	$(this).parent().find('.help-block').html('<small>Invalid Item</small>');
	    	},
	    	onSelect: function (suggestion){
	    	iflag =1;
			$(this).closest('.form-group').removeClass('has-error');
			$(this).closest('.form-group').addClass('has-success');
	    	$(this).parent().find('.itemidclass').val(suggestion.data[0].itemId);
	    	$(this).parent().find('.help-block').show();
	    	$(this).parent().find('.help-block').html('<small>'+suggestion.data[0].quantity+' kg  '+suggestion.data[0].type+'</small>');
		    $(this).closest('.form-group').find('.costclass').val(suggestion.data[0].cost);
		    $(this).closest('.form-group').find('.taxrateclass').val(suggestion.data[0].taxRate);
	    	}
	    });
	    
	    $('.piecesclass').on('blur',function(event){
		  	var purchasePieces = parseInt($(this).val());
			var purchasePieces = parseInt($(this).closest('.form-group').find('.piecesclass').val());
			var cost = parseFloat($(this).closest('.form-group').find('.costclass').val());
			var taxRate = parseFloat($(this).closest('.form-group').find('.taxrateclass').val());
			var total = purchasePieces*cost;
			var tax = (total*taxRate)/100;
			var totalWtTax = total+tax;
			if(showTax){
				$(this).closest('.form-group').find('.taxclass').val(tax);
				$(this).closest('.form-group').find('.totalclass').val(total);
				var totalamountwotax = 0;
				  var taxamount = 0;
				  var totalamountwttax = 0;
				$('.totalclass').each(function(){
					var tax = parseFloat($(this).closest('.form-group').find('.taxclass').val());
					var total = parseFloat(this.value);
					var totalWtTax = total+tax;
					
					totalamountwotax += parseFloat(total);
					taxamount += parseFloat(tax);
					totalamountwttax += parseFloat(totalWtTax);
				});
				 $('#purchasetotalamountwotax').html(totalamountwotax);
				  $('#purchasetaxamount').html(taxamount);
				  $('#purchasetotalamountwttax').html(totalamountwttax);
			}else{
				$(this).closest('.form-group').find('.taxclass').val(0);
				$(this).closest('.form-group').find('.totalclass').val(total);
				var totalamount = 0;
				$('.totalclass').each(function(){
					var total = parseFloat(this.value);
					
					totalamount += parseFloat(total);
				});
				$('#purchasetotalamountwotax').html(totalamount);
				  $('#purchasetaxamount').html(0.0);
				  $('#purchasetotalamountwttax').html(totalamount);		  
			}
			if(enableInstantPay){
				$('#f_cashpaid').val($('#purchasetotalamountwttax').html());	
			}else{
				$('#f_cashpaid').val(0.0);
			}
		  });
		    
		  $('.costclass').on('blur',function(event){
			  	var purchasePieces = parseInt($(this).closest('.form-group').find('.piecesclass').val());
			var cost = parseFloat($(this).closest('.form-group').find('.costclass').val());
			var taxRate = parseFloat($(this).closest('.form-group').find('.taxrateclass').val());
			var total = purchasePieces*cost;
			var tax = (total*taxRate)/100;
			var totalWtTax = total+tax;
			if(showTax){
				$(this).closest('.form-group').find('.taxclass').val(tax);
				$(this).closest('.form-group').find('.totalclass').val(total);
				var totalamountwotax = 0;
				  var taxamount = 0;
				  var totalamountwttax = 0;
				$('.totalclass').each(function(){
					var tax = parseFloat($(this).closest('.form-group').find('.taxclass').val());
					var total = parseFloat(this.value);
					var totalWtTax = total+tax;
					
					totalamountwotax += parseFloat(total);
					taxamount += parseFloat(tax);
					totalamountwttax += parseFloat(totalWtTax);
				});
				 $('#purchasetotalamountwotax').html(totalamountwotax);
				  $('#purchasetaxamount').html(taxamount);
				  $('#purchasetotalamountwttax').html(totalamountwttax);
			}else{
				$(this).closest('.form-group').find('.taxclass').val(0);
				$(this).closest('.form-group').find('.totalclass').val(total);
				var totalamount = 0;
				$('.totalclass').each(function(){
					var total = parseFloat(this.value);
					
					totalamount += parseFloat(total);
				});
				$('#purchasetotalamountwotax').html(totalamount);
				  $('#purchasetaxamount').html(0.0);
				  $('#purchasetotalamountwttax').html(totalamount);		  
			}
			if(enableInstantPay){
				$('#f_cashpaid').val($('#purchasetotalamountwttax').html());	
			}else{
				$('#f_cashpaid').val(0.0);
			}
			  });
			  
		$('#f_explicittax').on('click',function(event){
		  showTax = $(this).prop('checked');
		  if(showTax){
			  var totalamountwotax = 0;
			  var taxamount = 0;
			  var totalamountwttax = 0;
			  $('.totalclass').each(function(){
				  var purchasePieces = parseInt($(this).closest('.form-group').find('.piecesclass').val());
					var cost = parseFloat($(this).closest('.form-group').find('.costclass').val());
					var taxRate = parseFloat($(this).closest('.form-group').find('.taxrateclass').val());
					var total = purchasePieces*cost;
					var tax = (total*taxRate)/100;
					var totalWtTax = total+tax;
					$(this).closest('.form-group').find('.purchasetaxrateclass').val(taxRate);
					$(this).closest('.form-group').find('.taxclass').val(tax);
					$(this).closest('.form-group').find('.totalclass').val(total);
					totalamountwotax += parseFloat(total);
					taxamount += parseFloat(tax);
					totalamountwttax += parseFloat(totalWtTax);
			  });
			  $('#purchasetotalamountwotax').html(totalamountwotax);
			  $('#purchasetaxamount').html(taxamount);
			  $('#purchasetotalamountwttax').html(totalamountwttax);
		  }else{
			  var totalamount = 0;
			  $('.totalclass').each(function(){
				  var purchasePieces = parseInt($(this).closest('.form-group').find('.piecesclass').val());
					var cost = parseFloat($(this).closest('.form-group').find('.costclass').val());
					var taxRate = parseFloat($(this).closest('.form-group').find('.taxrateclass').val());
					var total = purchasePieces*cost;
					var tax = (total*taxRate)/100;
					var totalWtTax = total+tax;
					$(this).closest('.form-group').find('.purchasetaxrateclass').val(0);
					$(this).closest('.form-group').find('.taxclass').val(0);
					$(this).closest('.form-group').find('.totalclass').val(total);

					totalamount += parseFloat(total);
			  });
			  $('#purchasetotalamountwotax').html(totalamount);
			  $('#purchasetaxamount').html(0.0);
			  $('#purchasetotalamountwttax').html(totalamount);		  
		  }
		  if(enableInstantPay){
				$('#f_cashpaid').val($('#purchasetotalamountwttax').html());	
			}else{
				$('#f_cashpaid').val(0.0);
			}
	  });
		
		 $('#f_instantpay').on('click',function(event){
			  enableInstantPay = $(this).prop('checked');
			  
			  if(enableInstantPay){
				  $('#f_cashpaid').show();
				  $('#f_cashpaid').val($('#purchasetotalamountwttax').html());
			  }else{
				  $('#f_cashpaid').hide();
			  }
		  });
	    
	    $('#addpurchase').submit(function(event){
		if(iflag==0||cflag==0)
			{
			event.preventDefault()
			}
		});
}
</script>
</head>
<body id="transaction">
#parse("mainnavigation.vm")
<div id="contentcontainer" class="container-fluid">
  <div class="row">
    <div id="sidenavigation" class="col-sm-3">
      <div class="list-group">
        <a href="/addTransaction" class="list-group-item">Add Transaction</a>
        <a href="/showSalesSheet" class="list-group-item">Sales Sheet</a>
        <a href="/showPurchaseSheet" class="list-group-item">Purchase Sheet</a>
        <a href="/showFaultSheet" class="list-group-item">Fault Sheet</a>
      </div>
    </div>
    <div id="content" class="col-sm-9">
		<div class="row">
    	#if($error)
		    <div class="alert alert-danger">
		        <a href="#" class="close" data-dismiss="alert">&times;</a>
		        <strong>Error!</strong> $error
		    </div>
	    #end
	    #if($info)
		    <div class="alert alert-info">
		        <a href="#" class="close" data-dismiss="alert">&times;</a>
		        <strong>Note!</strong> $info
		    </div>
	    #end
    	</div>	
      <form id="addpurchase" class="form-horizontal" action="/addMultiPurchase" method="post">

        <fieldset>
          <legend>Invoice Information</legend>
          <div class="form-group">
            <div class='col-sm-10'>
              <label id="customernamelabel" class="control-label" for="customername">Customer name</label>
              <input class="form-control" id="customernameid" name="purchaseCustomerName" placeholder="Customer Name" required="true" size="30" type="text" />
              <input type="hidden" id="customeridid" name="purchaseCustomerId"/>
              <span class="help-block text-uppercase"><small>Invalid Customer</small></span>
            </div>
          </div>
          <div class="form-group">
          <div class="col-sm-10 seldatewrapper">
          	<label for="invoicedate" class="control-label" >Invoice Date</label>
                <select id="invoicedate" class="form-control seldateclass" name="purchaseDate">
                  <option value="today">Today</option>
                  <option value="yesterday">Yesterday</option>
                  <option value="others">Others</option>
                </select>
              </div>
              <div class="col-sm-10 otherdateclass">
                <input type="text" class="form-control pickdateclass" name="purchaseDate" disabled="disabled" />
              </div>
           </div>
           <div class="form-group">
            <div class='col-sm-10'>
              <label class="control-label" for="invoiceremarks">Invoice Remarks</label>
              <input class="form-control" id="invoiceremarks" name="invoiceRemarks" placeholder="Remarks" size="30" type="text" />
            </div>
          </div>
		</fieldset>
        <fieldset>
          <legend>Purchase Information</legend>
          
          <div class="form-group">
            <!-- <label class="col-sm-2">Date</label> -->
            <label class="col-sm-2">Item Name</label>
            <div class="col-sm-5">
	            <label class="col-sm-3">Pieces</label>
	            <label class="col-sm-3">Cost</label>
	            <label class="col-sm-3">Amount</label>
	            <label class="col-sm-3">Tax</label>
            </div>
            <label class="col-sm-2">Remarks</label>
          </div>
          <div id="multirowwrapper">
            <div class="form-group">
              <!-- <div class="col-sm-2 seldatewrapper">
                <select class="form-control seldateclass" name="records[0].purchaseDate">
                  <option value="today">Today</option>
                  <option value="yesterday">Yesterday</option>
                  <option value="others">Others</option>
                </select>
              </div>
              <div class="col-sm-2 otherdateclass">
                <input type="text" class="form-control pickdateclass" name="records[0].purchaseDate" disabled="disabled" />
              </div> -->
              <div class="col-sm-2">
                <input type="text" class="form-control itemnameclass" name="itemname" placeholder="Item Name" required="true" size="30" />
                <input type="hidden" class="itemidclass" name="records[0].purchaseItemId" />
                 <span class="help-block text-uppercase"><small>Item information placeholder</small></span>
              </div>
              <div class="col-sm-5">
	              <div class="col-sm-3">
	                <input type="number" class="form-control piecesclass" name="records[0].purchasePieces" placeholder="Pieces" required="true" size="30" />
	              </div>
	              <div class="col-sm-3">
	                <input type="number" step="any" class="form-control costclass" name="records[0].purchaseCost" placeholder="Cost" required="true" size="10" />
	              </div>
	              <div class="col-sm-3">
	                <input type="text" class="form-control totalclass" name="records[0].purchaseTotal" placeholder="Amount" readonly="readonly" size="10" />
	              </div>
	              <div class="col-sm-3">
	              	<input type="hidden" class="form-control purchasetaxrateclass" name="records[0].purchaseTaxRate" value="0.0" />
	              	<input type="hidden" class="form-control taxrateclass" name="taxrate" />
	                <input type="text" class="form-control taxclass" name="records[0].purchaseTax" placeholder="tax" readonly="readonly" size="10" value="0" />
	              </div>
              </div>
            <div class="col-sm-2">
                <input type="text" class="form-control remarksclass" name="records[0].purchaseRemarks" placeholder="Remarks" size="30" />
              </div>
              <div class="col-sm-1">
                <a href="#" id="addMoreRow" class="glyphicon glyphicon-plus"></a>
              </div>
            </div><!-- /.form-group -->
          </div><!-- /.multirow wrapper -->
          <div class="form-group">
          	<label class="col-sm-2"><input id="f_explicittax" name="explicitTax" type="checkbox" value="1">Show Tax</label>
          </div>
          <div class="form-group">
          	<label class="col-sm-2"><input id="f_instantpay" name="instantPay" type="checkbox" value="1">Instant Pay</label>
          	<div class="col-sm-2">
          	<input type="number" step="any" id="f_cashpaid" class="form-control cashPaid" name="cashPaid" placeholder="Cash Paid" value="0.0"/>
          	</div>
          </div>
          <div class="form-group">
          	<label class="col-sm-offset-5 col-sm-2">Total Amount Before Tax</label>
          	<label id="purchasetotalamountwotax" class="col-sm-1">0.0</label>
          </div>
          <div class="form-group">
          	<label class="col-sm-offset-5 col-sm-2">Tax Amount</label>
          	<label id="purchasetaxamount" class="col-sm-1">0.0</label>
          </div>
          <div class="form-group">
          	<label class="col-sm-offset-5 col-sm-2">Total Amount After Tax</label>
          	<label id="purchasetotalamountwttax" class="col-sm-1">0.0</label>
          </div>
          <div class="form-group">
            <div class="col-sm-3">
              <input type="submit" class="btn btn-primary" value="Submit">
              <input type="reset" class="btn btn-default" value="Reset">
            </div>
          </div>

        </fieldset>

      </form>
    </div>
  </div>
</div>
</body>
</html>