<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Customer Index</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="/css/ifas/ifas.css" rel="stylesheet">
<script src="/js/jquery.latest.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
$("document").ready(function(){
	$('#customerindex').DataTable( {
        "ajax": "/listActiveCustomers",
        "columns": [
            { "data": "customerId", "visible": false  },
            { "data": "name",
            	"render": function(data,type,row,meta){
            		return '<a class="customersheetredirect text-uppercase" href="/customerAccountSheet?customername='+row.name+'&customerid='+row.customerId+'&initialbalance='+row.initialBalance+'&pageno=1">'+row.name+'</a>';
            	} },
            { "data": "currentBalance"},
            { "data": null,
            	"render": function(data,type,row,meta){
            		return '<a href="/editCustomer?customerid='+row.customerId+'" title="edit" class="editcustomer btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span> Edit</a> <a href="'+row.customerId+'" title="delete" class="deletecustomer btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span> Delete</a>';
            	} }
        ]
    } );
	/*-- Deleting entry --*/
	$('#customerindex tbody').on('click','.deletecustomer',function(event){
		window.customerId=$(this).attr('href').trim();
		#[[$c]]#=confirm('Do you want to delete this entry ?');
		if(#[[$c]]#==true)
			{
			$.ajax({
				type: "POST",
				url: "/removeCustomer",
				data:{customerid: customerId},
				success: function(responseData)
				{
					window.location.href="/listCustomers?pageno=1&sorttype=normal";
				}
			});
			}
		event.preventDefault();
	});
	/*-- End of deleting entry --*/
});
/*-- End of doc ready --*/
</script>
</head>
<body id="customer">
#parse("mainnavigation.vm")
<div id="contentcontainer" class="container-fluid">
  <div class="row">
    <div id="sidenavigation" class="col-sm-3">
      <div class="list-group">
        <a href="/addCustomer" class="list-group-item">Add Customer</a>
        <a href="/editCustomer" class="list-group-item">Edit Customer</a>
        <a href="/removeCustomer" class="list-group-item">Remove Customer</a>
      </div>
    </div>
    <div id="content" class="col-sm-9">
    <table id="customerindex" class="display" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Customer Id</th>
                <th>Name</th>
                <th>Balance</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
	</div>
  </div>
</div>
</body>
</html>