<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Item Index</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="/css/ifas/ifas.css" rel="stylesheet">
<script src="/js/jquery.latest.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
$("document").ready(function(){
	$('#Itemindex').DataTable( {
        "ajax": "/listActiveItems",
        "columns": [
            { "data": "itemId" },
            { "data": "itemName",
            	"render": function(data,type,row,meta){
            		return '<span class="text-uppercase">'+row.itemName+'</span>';
            	} },
            { "data": "quantity" },
            { "data": "type" },
            { "data": "cost" },
            { "data": "stock" },
            { "data": null,
            	"render": function(data,type,row,meta){
            		return '<a href="/editItem?itemid='+row.itemId+'" title="edit" class="edititem btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span> Edit</a> <a href="'+row.itemId+'" title="delete" class="deleteitem btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span> Delete</a>';
            	} }
        ]
    } );
	/*-- Deleting entry --*/
	$('#item tbody').on('click','.deleteitem',function(event){
		window.itemId=$(this).attr('href').trim();
		var choice=confirm('Do you want to delete this entry ?');
		if(choice==true)
			{
			$.ajax({
				type: "POST",
				url: "/removeItem",
				data:{itemid: itemId},
				success: function(responseData)
				{
					window.location.href="/listItems?pageno=1&sorttype=normal";
				}
			});
			}
		event.preventDefault();
	});
	/*-- End of deleting entry --*/
});
/*-- End of doc ready --*/
</script>
</head>
<body id="item">
#include("mainnavigation.vm")
<div id="contentcontainer" class="container-fluid">
  <div class="row">
    <div id="sidenavigation" class="col-sm-3">
      <div class="list-group">
        <a href="/addItem" class="list-group-item">Add Item</a>
        <a href="/editItem" class="list-group-item">Edit Item</a>
        <a href="/removeItem" class="list-group-item">Remove Item</a>
      </div>
    </div>
    <div id="content" class="col-sm-9">
    <table id="Itemindex" class="display" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Type</th>
                <th>Cost</th>
                <th>Stock</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
	</div>
  </div>
</div>
</body>
</html>