<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>IFAS TaxInvoices</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="/css/ifas/ifas.css" rel="stylesheet">
<script src="/js/jquery.latest.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
$("document").ready(function(){
	var listTaxInvoicesTable = $('#listtaxinvoices').DataTable( {
        "ajax": "/listTaxInvoicesForMonth?monthOfYear=${monthOfYear}",
        "columns": [
			{ "data": "taxInvoiceId",
            	"render": function(data,type,row,meta){
            		return '<a class="taxInvoiceredirect text-uppercase" href="/editInvoice?taxInvoiceid='+row.taxInvoiceId+'">'+row.taxInvoiceId+'</a>';
            	} },
            { "data": "taxInvoiceDate" },
            { "data": "taxInvoiceType" },
            { "data": "taxInvoiceCustomerName" },
            { "data": "remarks" },
            { "data": null,
            	"render": function(data,type,row,meta){
            		return '<a href="/printTaxInvoice?invoiceid='+row.taxInvoiceId+'" title="invoice" class="taxinvoicecustomer btn btn-default btn-sm"><span class="glyphicon glyphicon-print"></span> Print</a> <a href="/editCustomer?customerid='+row.taxInvoiceId+'" title="edit" class="editcustomer btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span> Edit</a> <a href="'+row.taxInvoiceId+'" title="delete" class="deletecustomer btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span> Delete</a>';
            	}
            }
        ]
    } );
	
	$('#showTaxInvoices').on('click',function(){
		var year = $('#f_estimateyear').val();
		var month = $('#f_estimatemonth').val();
		var monthOfYear = month+'-'+year;
		listTaxInvoicesTable.ajax.url('/listTaxInvoicesForMonth?monthOfYear='+monthOfYear).load();
	});
	
});
</script>
</head>
<body id="invoice">
#parse("mainnavigation.vm")
<div id="contentcontainer" class="container-fluid">
  <div class="row">
    <div id="sidenavigation" class="col-sm-3">
      <div class="list-group">
      	<a href="/listTaxInvoices" class="list-group-item">Tax Invoices</a>
      	<a href="/listAuditedSales" class="list-group-item">Audited Sales</a>
        <a href="#" class="list-group-item">Reports</a>
      </div>
    </div>
    <div id="content" class="col-sm-9">
    	<div class="row">
    	<form>
    	<fieldset>
		<legend>Tax Invoices By Month</legend>
    	<div class="form-group">
    	<label for="f_estimateyear" class="control-label col-sm-2">Year</label>
		<div class="col-sm-10">
		<select class="form-control" id="f_estimateyear" name="estimateYear">
		<option value="17">2017</option>
		<option value="18">2018</option>
		<option value="19">2019</option>
		</select>
		</div>
    	</div>
    	<div class="form-group">
    	<label for="f_estimatemonth" class="control-label col-sm-2">Month</label>
		<div class="col-sm-10">
		<select class="form-control" id="f_estimatemonth" name="estimateMonth">
		<option value="JAN">January</option>
		<option value="FEB">Febraury</option>
		<option value="MAR">March</option>
		<option value="APR">April</option>
		<option value="MAY">May</option>
		<option value="JUN">June</option>
		<option value="JUL">July</option>
		<option value="AUG">August</option>
		<option value="SEP">September</option>
		<option value="OCT">October</option>
		<option value="NOV">November</option>
		<option value="DEC">December</option>
		</select>
		</div>
    	</div>
    	</fieldset>
    	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
		<input type="button" name="button" id="showTaxInvoices" class="btn btn-primary" value="Show TaxInvoices" />
		</div>
		</div>
    	</form>
    	</div>
    	<div class="row">
			<table id="listtaxinvoices" class="display" width="100%" cellspacing="0">
			<caption>Estimate Invoices</caption>
	        <thead>
	            <tr>
	            	<th>Id</th>
	            	<th>Date</th>
	            	<th>Type</th>
	                <th>Customer Name</th>
	                <th>Remarks</th>
	                <th>Actions</th>
	            </tr>
	        </thead>
    		</table>    	
    	</div>
    </div>
  </div>
  </div>
</body>
</html>